.modal__preview {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.modal__content_type_image {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.modal__details {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 28px 28px;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.modal__image {
  width: 100%;
  object-fit: contain;
}

.modal__delete-button {
  position: absolute;
  color: #ff4d00;
  top: 513px;
  left: 353px;
  background-color: transparent;
  border: none;
  line-height: 24px;
  cursor: pointer;
}

.modal__delete-button:hover {
  color: #cc0000;
}

/* @media screen and (max-width: 627px) {
  .modal__content {
    max-width: 90vw;
    padding: 0;
    border-radius: 12px;
  }

  .modal__close {
    top: 12px;
    right: 12px;
    width: 14px;
    height: 14px;
  }

  .modal__content_type_image {
    border-radius: 12px;
  }

  .modal__image {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .modal__details {
    padding: 16px;
    gap: 8px;
    font-size: 16px;
  }

  .modal__caption,
  .modal__weather {
    font-size: 16px;
  }
} */
